.CartItems {
    margin: 0;
    padding: 0;
    li {
        display: grid;
        background-color: white;
        grid-template-columns: 10% 45% 20% 13% 10%;
        align-items: center;
        margin: 3px;
        padding: 20px;
        border: 1px solid green;
        border-radius: 2px;
        grid-gap: 9px;
        div {
            display: grid;
            grid-template-columns: 30% 40% 30%;
            width: 136px;
            align-items: center;
            p {
                text-align: center;
            }
        }
        div:last-child {
            &:after {
            display: inline-block;
            content: "\00d7";
            font-size: 21px;
            }
            &:hover {
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .CartItems li {
        grid-template-columns: 10% 34% 24% 17% 10%;
    }
}

@media screen and (max-width: 700px) {
    .CartItems li {
        grid-template-columns: 10% 33% 29% 14% 7%;
    }
}

@media screen and (max-width: 600px) {
    .CartItems li div {
        width: 81px;
    }
}

@media screen and (max-width: 500px) {
    .CartItems li {
        grid-template-columns: 18% 22% 24% 19% 7%;
        div {
            width: 73px;
            p {
                margin: 0;
            }
        }
    }
}






