.items {
	margin: 0;
	padding: 0;

	li {
		display: grid;
		background-color: white;
		grid-template-columns: 10% 45% 20% 13% 8%;
		align-items: center;
		margin: 3px;
		padding: 20px;
		border: 1px solid green;
		border-radius: 2px;
		grid-gap: 9px;

		@media screen and (max-width: 900px) {
			grid-template-columns: 10% 34% 24% 17% 10%;
		}

		@media screen and (max-width: 700px) {
			grid-template-columns: 10% 33% 29% 14% 7%;
		}

		@media screen and (max-width: 500px) {
			grid-template-columns: 18% 22% 24% 19% 7%;
		}
	}

	.buttons {
		display: grid;
		grid-template-columns: 30% 40% 30%;
		width: 136px;
		align-items: center;

		@media screen and (max-width: 600px) {
			width: 81px;
		}

		@media screen and (max-width: 500px) {
			width: 73px;
		}

		p {
			margin: 0;
			text-align: center;

		}

	}
}