.CartSummary {
    display: inherit;
    background-color: white;
    align-content: flex-start;
    margin: 3px;
    padding: 20px;
    border: 1px solid green;
    border-radius: 2px;
    font-size: 14px;
}